<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Haliç University | Self-Service Platform</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/theme/html/demo2/dist/assets/css/pages/wizard/wizard-2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/theme/html/demo2/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/html/demo2/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/html/demo2/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="~/haliclogoyeni.png" />
</head>

<body id="kt_body" style="background-image: url(../bg-3.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Subheader-->
                    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
                        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center flex-wrap mr-1" style="width: 100%;display: block !important;text-align: center;">
                                <div class="d-flex flex-column">
                                    <h2 style="color:black !important" class="text-white font-weight-bold my-2 mr-5">Haliç University Self-Service Platform</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>
                <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
                    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted font-weight-bold mr-2">2021©</span>
                            <a href="https://halic.edu.tr" target="_blank" class="text-dark-75 text-hover-primary">Haliç University IT Department</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/theme/html/demo2/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/theme/html/demo2/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/theme/html/demo2/dist/assets/js/scripts.bundle.js"></script>
    <script src="~/theme/html/demo2/dist/assets/js/pages/custom/wizard/wizard-2.js"></script>
</body>
</html>