@model KariyerMerkezi.Models.Kullanici
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section>
    <div class="rad-body-wrapper rad-nav-min">
        <div class="container-fluid">
            <header class="rad-page-title">
                <span style="display: inline-block">Mail Yönetimi</span>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="rad-info-box rad-txt-success">
                        <form asp-action="MailCrud" id="myForm" method="post">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Kullanıcı Adı</th>
                                        <th scope="col">E-Posta</th>
                                        <th scope="col">Şifre</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            @Model.KullaniciAdi
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="mail" placeholder="@Model.EPosta" required>

                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="password" placeholder="@Model.Sifre" required>
                                        </td>
                                        <td>
                                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>