<!DOCTYPE html>
<html lang="tr">
<!--begin::Head-->
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Haliç Üniversitesi Mezunlar Derneği</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://basvuru.halic.edu.tr" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/assets/css/pages/login/classic/login-5.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="https://halic.edu.tr/Templates/Default/assets/img/haliclogoyeni.png" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">


    @RenderBody()

    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <script src="~/assets/js/pages/widgets.js"></script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/custom/login/login-general.js"></script>

    @RenderSection("scripts", false)
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>