
<!DOCTYPE html>

<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Selfservis</title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/theme/html/demo2/dist/assets/css/pages/login/classic/login-4.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/theme/html/demo2/dist/assets/plugins/global/plugins.bundle.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="~/theme/html/demo2/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.2.8" rel="stylesheet" type="text/css" />
    <link href="~/theme/html/demo2/dist/assets/css/style.bundle.css?v=7.2.8" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" style="background-image: url(bg-3.jpg) " class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat">
                <div class="login-form text-center p-7 position-relative overflow-hidden" style="max-width:900px">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="https://halic.edu.tr">
                            <img src="https://halic.edu.tr/Templates/Default/assets/img/haliclogoyeni.png" class="max-h-175px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <!--begin::Login Sign in form-->
                    <div class="login-signin">
                        <div class="mb-20">
                            <h3>Haliç Üniversitesi</h3>
                            <h3>Self-Servis Platformu</h3>
                        </div>
                        <form class="form">
                        </form>
                        <div class="mt-10 row">
                            <div class="col-lg-6">
                                
                                <a style="width:400px; height:120px; text-align:center !important" href="https://selfservis.halic.edu.tr/Personel" id="kt_login_forgot" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">
                                    <h3 style="font-size:17px">Şifre Yenileme Uygulaması - Personel</h3>
                                    <h3 style="font-size:17px">Girişi İçin Lütfen Tıklayın</h3>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                
                                <a style="width: 400px; height: 120px; text-align: center !importan" href="https://selfservis.halic.edu.tr/Personel" id="kt_login_signup" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">
                                    <h3 style="font-size:17px">Şifre Yenileme Uygulaması - Personel</h3>
                                    <h3 style="font-size:17px">Girişi İçin Lütfen Tıklayın</h3>
                                </a>
                            </div>
                            </div>
                        </div>
                    <!--end::Login Sign in form-->
                    <!--begin::Login Sign up form-->
                    <!--end::Login Sign up form-->
                    <!--begin::Login forgot password form-->
                    <!--end::Login forgot password form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>

    <script src="~/theme/html/demo2/dist/assets/plugins/global/plugins.bundle.js?v=7.2.8"></script>
    <script src="~/theme/html/demo2/dist/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.2.8"></script>
    <script src="~/theme/html/demo2/dist/assets/js/scripts.bundle.js?v=7.2.8"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/theme/html/demo2/dist/assets/js/pages/custom/login/login-general.js?v=7.2.8"></script>
    @*<script>
            window.onload = function () {
                var url = window.location.href;
                if (!url.match(/\/$/)) {
                    url += '/';
                }
            }
        </script>*@
</body>
</html>
